@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body {
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Ubuntu', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#sidebarLink {
  display: flex;
  align-items: center;
}

#logo {
  position: static;
}

.text {
  margin-left: 15px;
}

.link {
  text-decoration: none;
  font-weight: 600;
}

.icon {
  font-size: 1.2em;
  margin-right: 15px;
}

.iconcollapsed {
  font-size: 1.2em;
}

.datavinci {
  font-weight: 900;
  background: linear-gradient(93.46deg, #C23D04 0%, #DE1515 53.75%, #CA0A72 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.mainlogo {
  width: 50px;
  height: 50px;
}

.btn {
  padding: 7px 25px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  color: white;
  background: #171717;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: 150ms all;
}

.btn:active {
  transform: scale(.95);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15) !important;
}

#bannerImg {
  height: 100%;
  position: relative;
  right: -25px;
  display: block;
}

@media screen and (max-width:700px){
  #bannerImg{
    display: none;
  }
}